<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cx.mapper.AdminMapper" >
  <resultMap id="BaseResultMap" type="com.cx.pojo.Admin" >
    <id column="admin_id" property="adminId" jdbcType="INTEGER" />
    <result column="admin_phone" property="adminPhone" jdbcType="CHAR" />
    <result column="admin_password" property="adminPassword" jdbcType="VARCHAR" />
    <result column="admin_name" property="adminName" jdbcType="VARCHAR" />
    <result column="id_card" property="idCard" jdbcType="CHAR" />
    <result column="rights" property="rights" jdbcType="INTEGER" />
    <result column="site_id" property="siteId" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="

reserved_fields1" property="

reservedFields1" jdbcType="VARCHAR" />
    <result column="reserved_fields2" property="reservedFields2" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    admin_id, admin_phone, admin_password, admin_name, id_card, rights, site_id, create_time, 
    update_time, 

reserved_fields1, reserved_fields2
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.cx.pojo.AdminExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from admin
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from admin
    where admin_id = #{adminId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from admin
    where admin_id = #{adminId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.cx.pojo.AdminExample" >
    delete from admin
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.cx.pojo.Admin" >
    insert into admin (admin_id, admin_phone, admin_password, 
      admin_name, id_card, rights, 
      site_id, create_time, update_time, 
      

reserved_fields1, reserved_fields2)
    values (#{adminId,jdbcType=INTEGER}, #{adminPhone,jdbcType=CHAR}, #{adminPassword,jdbcType=VARCHAR}, 
      #{adminName,jdbcType=VARCHAR}, #{idCard,jdbcType=CHAR}, #{rights,jdbcType=INTEGER}, 
      #{siteId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{

reservedFields1,jdbcType=VARCHAR}, #{reservedFields2,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.cx.pojo.Admin" >
    insert into admin
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="adminId != null" >
        admin_id,
      </if>
      <if test="adminPhone != null" >
        admin_phone,
      </if>
      <if test="adminPassword != null" >
        admin_password,
      </if>
      <if test="adminName != null" >
        admin_name,
      </if>
      <if test="idCard != null" >
        id_card,
      </if>
      <if test="rights != null" >
        rights,
      </if>
      <if test="siteId != null" >
        site_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="

reservedFields1 != null" >
        

reserved_fields1,
      </if>
      <if test="reservedFields2 != null" >
        reserved_fields2,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="adminId != null" >
        #{adminId,jdbcType=INTEGER},
      </if>
      <if test="adminPhone != null" >
        #{adminPhone,jdbcType=CHAR},
      </if>
      <if test="adminPassword != null" >
        #{adminPassword,jdbcType=VARCHAR},
      </if>
      <if test="adminName != null" >
        #{adminName,jdbcType=VARCHAR},
      </if>
      <if test="idCard != null" >
        #{idCard,jdbcType=CHAR},
      </if>
      <if test="rights != null" >
        #{rights,jdbcType=INTEGER},
      </if>
      <if test="siteId != null" >
        #{siteId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="

reservedFields1 != null" >
        #{

reservedFields1,jdbcType=VARCHAR},
      </if>
      <if test="reservedFields2 != null" >
        #{reservedFields2,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.cx.pojo.AdminExample" resultType="java.lang.Integer" >
    select count(*) from admin
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update admin
    <set >
      <if test="record.adminId != null" >
        admin_id = #{record.adminId,jdbcType=INTEGER},
      </if>
      <if test="record.adminPhone != null" >
        admin_phone = #{record.adminPhone,jdbcType=CHAR},
      </if>
      <if test="record.adminPassword != null" >
        admin_password = #{record.adminPassword,jdbcType=VARCHAR},
      </if>
      <if test="record.adminName != null" >
        admin_name = #{record.adminName,jdbcType=VARCHAR},
      </if>
      <if test="record.idCard != null" >
        id_card = #{record.idCard,jdbcType=CHAR},
      </if>
      <if test="record.rights != null" >
        rights = #{record.rights,jdbcType=INTEGER},
      </if>
      <if test="record.siteId != null" >
        site_id = #{record.siteId,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.

reservedFields1 != null" >
        

reserved_fields1 = #{record.

reservedFields1,jdbcType=VARCHAR},
      </if>
      <if test="record.reservedFields2 != null" >
        reserved_fields2 = #{record.reservedFields2,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update admin
    set admin_id = #{record.adminId,jdbcType=INTEGER},
      admin_phone = #{record.adminPhone,jdbcType=CHAR},
      admin_password = #{record.adminPassword,jdbcType=VARCHAR},
      admin_name = #{record.adminName,jdbcType=VARCHAR},
      id_card = #{record.idCard,jdbcType=CHAR},
      rights = #{record.rights,jdbcType=INTEGER},
      site_id = #{record.siteId,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      

reserved_fields1 = #{record.

reservedFields1,jdbcType=VARCHAR},
      reserved_fields2 = #{record.reservedFields2,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.cx.pojo.Admin" >
    update admin
    <set >
      <if test="adminPhone != null" >
        admin_phone = #{adminPhone,jdbcType=CHAR},
      </if>
      <if test="adminPassword != null" >
        admin_password = #{adminPassword,jdbcType=VARCHAR},
      </if>
      <if test="adminName != null" >
        admin_name = #{adminName,jdbcType=VARCHAR},
      </if>
      <if test="idCard != null" >
        id_card = #{idCard,jdbcType=CHAR},
      </if>
      <if test="rights != null" >
        rights = #{rights,jdbcType=INTEGER},
      </if>
      <if test="siteId != null" >
        site_id = #{siteId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="

reservedFields1 != null" >
        

reserved_fields1 = #{

reservedFields1,jdbcType=VARCHAR},
      </if>
      <if test="reservedFields2 != null" >
        reserved_fields2 = #{reservedFields2,jdbcType=VARCHAR},
      </if>
    </set>
    where admin_id = #{adminId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cx.pojo.Admin" >
    update admin
    set admin_phone = #{adminPhone,jdbcType=CHAR},
      admin_password = #{adminPassword,jdbcType=VARCHAR},
      admin_name = #{adminName,jdbcType=VARCHAR},
      id_card = #{idCard,jdbcType=CHAR},
      rights = #{rights,jdbcType=INTEGER},
      site_id = #{siteId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      

reserved_fields1 = #{

reservedFields1,jdbcType=VARCHAR},
      reserved_fields2 = #{reservedFields2,jdbcType=VARCHAR}
    where admin_id = #{adminId,jdbcType=INTEGER}
  </update>
</mapper>