*,:after, :before {
    box-sizing: inherit;
}

body{
    margin: 0;
    padding: 0;
    background: #eef1f4;
    min-width: 1200px;
    font-size: 14px;
    color: #282828;

}
.header{
    width: 100%;
    height: 77px;
    background-color:skyblue ;
}
.container{
    width: 100%;
    height: 770px;
    box-sizing: inherit;
    background: url('../../images/login_bg.jpg') center center no-repeat ;
}
.login-main{
    width: 1200px;
    height: 100%;
    margin: 0 auto;
}


.login-header{
    width: 100%;
    height: 66px;
    border-bottom: 1px solid #cdcfd7;
    padding-top: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.login-box{
    width: 427px;
    min-height: 436px;
    background-color: #fff;
    margin-top: 180px;
    float: right;
    border-radius: 10px;
    padding: 0 28px 25px;
    box-sizing: border-box;
}
.header-tip{
    display: flex;
    font-size: 0;
}
.header-tip img{
    display: inline-block;
    vertical-align: middle;
    height: auto;
    max-width: 100%;
    margin-top: -15px;
}

.header-tip i{

    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    color: #000;
    padding-left: 10px;
    font-style: normal;

}
.login-header a{
    display: inline-block;
    float: right;
    font-size: 14px;
    color: #1db6f6;
    text-decoration: underline;
}
.login-way{
    width: 100%;
    margin-top: 24px;
    margin-bottom: 20px;
}
.login-way ul{
    display: flex;
    flex-direction: row;
    justify-content: left;
    list-style: none;
}
.login-way li{
    float: left;
    font-size: 12px;
    color: #b5b5b5;
    text-indent: 25px;
    cursor: pointer;
    margin-right: 50px;
    background: url("../../images/check.png")5px center no-repeat;


}
.login-click{
    color: #b5b5b5;
    background: url("../../images/checked.png") 5px center no-repeat;
}
.item{
    width: 100%;
    margin-top: 13px;
}
.item .tips{
    width: 100%;
    height: 26px;
    line-height: 26px;
    background: url("/admin/images/tips.png") 5px center no-repeat;
    text-indent: 24px;
    font-size: 12px;
    color: #f84224;
    opacity: 1;
    transition: all .3s;
    margin-left: 46px;
    display: none;
    margin-left: 85px!important;
}

.item .label{

    width: 85px;
    display: inline-block;
    font-size: 12px;
    color: #3d3d3d;
    line-height: 40px;
    padding-left: 10px;
}
.item .account-label{
    width: 55px!important;
}
.forget-pwd{
    display: block;
    text-align: center;
    margin-top: 10px;
    font-size: 12px;
    color: #ff6e3c;
    text-decoration: underline;
}
.item .input-txt{
    width: 277px;
    height: 40px;
    display: inline-block;
    border: 1px solid #dcdcdc;
    border-radius: 3px;
    outline: 0;
    text-indent: 10px;
    font-size: 12px;
    transition: all .5s;
}
.item .code-txt{
    width: 150px;
}

.item .get-pic-code{
    display: inline-block;
    width: 116px;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    margin-left: 6px;
    vertical-align: middle;
    max-width: 100%;
}
.item .get-code{
    display: inline-block;
    width: 116px;
    height: 40px;
    background: #ffbc3a;
    line-height: 40px;
    text-align: center;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    margin-left: 6px;
}
.btn-submit{
    width: 356px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 3px;
    background: #1db6f6;
    display: block;
    margin: 20px auto 0;
    color: #fff;
    border: none
;
}
.footer{
    width: 100%;
    height: 503px;
    background-color: khaki;
}